$padding_li: 15px 100px 15px 20px;
$hover_li:200ms ease-in;
$transform_li: translateX(-80px);
$transition_li: 200ms ease-in;

@mixin li {
    padding: $padding_li;
    transition:$hover_li;
}

@mixin hover {
    transform: $transform_li;
    transition: $transition_li;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper__ul {
    list-style-type: none;
    position: fixed;
    top: 500px;
    right: -173px;
    .wrapper__ul__li-blog {
        background-color:#e17b77;
        @include li;
        a {
            margin-left: 10px;
        }
    }
    .wrapper__ul__li-twitter {
        background-color:#00aced;
        @include li;
        a {
            margin-left: 10px;
        }
    }
    .wrapper__ul__li-linked-in {
        background-color:#007bb6;
        @include li;
        a {
            margin-left: 17px;
        }
    }
    .wrapper__ul__li-facebook {
        background-color:#3b5998;
        @include li;
        a {
            margin-left: 23px;
        }
        i {
            margin-left: 5px;
        }
    }
    .wrapper__ul__li-git-hub {
        background-color:#333;
        @include li;
        a {
            margin-left: 14px;
        }
    }
        li{ a {color: white;}  i{color: white;}}  
}


.wrapper__ul__li-blog:hover {
    @include hover();
}
.wrapper__ul__li-twitter:hover {
    @include hover();
}
.wrapper__ul__li-linked-in:hover {
    @include hover();
}
.wrapper__ul__li-facebook:hover {
    @include hover();
}
.wrapper__ul__li-git-hub:hover {
    @include hover();
}